.App {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.form-wrapper {
  border: 1px solid #999;
  padding: 25px;
  margin: 0 auto;
  width: 400px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  margin: 4px;
  padding: 5px;
  text-align: center;
}

ul {
  text-align: center;
  margin-right: 2.5em;
}

li {
  list-style: none;
}

.friend-card {
  border: 1px outset #999;
  margin: 5px auto;
  width: 400px;
}

